UnityProject/Assets/LitJson/
UnityProject/Assets/NGUI/
UnityProject/Assets/Ouya/
UnityProject/Assets/LitJson.meta
UnityProject/Assets/NGUI.meta
UnityProject/Assets/Ouya.meta
UnityProject/Assets/Plugins/Android/
UnityProject\Library/
UnityProject/Library/ScriptAssemblies/
UnityProject\Library\metadata/
UnityProject\Library
UnityProject/Temp/
UnityProject\Library\
UnityProject/Library/AssetServerCacheV3
UnityProject/Library/
UnityProject/Assets/Plugins/
UnityProject/Assets/_Local Only/
UnityProject/Assets/Plugins.meta
UnityProject/Assets/_Local Only.meta
