UnityProject/Assets/LitJson/
UnityProject/Assets/NGUI/
UnityProject/Assets/Ouya/
UnityProject/Assets/LitJson.meta
UnityProject/Assets/NGUI.meta
UnityProject/Assets/Ouya.meta
UnityProject/Assets/Plugins/Android/
UnityProject\Library/
UnityProject/Library/ScriptAssemblies/
UnityProject\Library\metadata/
UnityProject\Library
UnityProject/Temp/
UnityProject\Library\
UnityProject/Library/AssetServerCacheV3
UnityProject/Library/
UnityProject/Assets/Plugins/
UnityProject/Assets/_Local Only/
UnityProject/Assets/Plugins.meta
UnityProject/Assets/_Local Only.meta
UnityProject/obj/
UnityProject/Assembly-Boo-Editor-vs.booproj
UnityProject/Assembly-Boo-Editor.booproj
UnityProject/Assembly-CSharp-Editor-vs.csproj
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp-firstpass-vs.csproj
UnityProject/Assembly-CSharp-firstpass.csproj
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/Assembly-UnityScript-Editor-vs.unityproj
UnityProject/Assembly-UnityScript-Editor.unityproj
UnityProject/Assembly-UnityScript-vs.unityproj
UnityProject/Assembly-UnityScript.unityproj
UnityProject/UnityProject-csharp.sln
UnityProject/UnityProject.sln
UnityProject/Assets/FPSControlCore/Editor/FPSControl/UnityEditor.dll.meta
UnityProject/Assets/FPSControlCore/Editor/FPSControl/UnityEngine.dll.meta
UnityProject/Assets/FPSControlCore/Editor/FPSControl/FPSControlEditorLib.pdb.meta
UnityProject/Assets/FPSControlCore/Editor/FPSControl/FPSControlLib.pdb.meta
